.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    height: 56px
}
.toolbar_logo {
    margin-left: 1rem
}

.toolbar_logo a {
    color: pink; 
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar_navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.spacer {
    flex: 1;
}

.toolbar_navigation li {
    padding-left: .5rem

}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;

}

.toolbar_navigation_items {
    color: white;
    text-decoration: none
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active {
    color: orange
}