@media only screen and (max-width: 480px) { 
    .StreetView {
      display: none;
    }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .StreetView {
        height: 350px;
        width: 190px;
    }
}


 .StreetView {
    height: 70%;
    width: 75%;
    margin-bottom: -3.7%
 }
